<form action="/disease_states" method="get">
    <h2><%= "Disease State" %></h2>
        <input type="text" name="disease_states">
            <h2><%= "Description" %></h2>
                <input type="text" name="*">
                <input type="submit" value="add">
</form>