<h2>Please Log In </h2>

<form action="/login" method="post">
    <label>User Name</label>
    <input type="text" name="username">
    <label>Password</label>
    <input type="password" name="password">
    
    <input type="submit" value="Log in">

</form>

<h3><a href='/users/signup'>Signup</a></h3>
