<h2>Edit a Medication</h2>


<form action="/medications/<%=@medication.id%>/edit" method="POST">
  <input type="hidden" name="_method" value="patch">
  <label>Medication: <%=@medication.name%></label>

  <h2> Dosage </h2>
        <input type="text" name="dose">

  <br>
  <br>   
    
  <h2> Quantity </h2>
      <input type="text" name="quantity"> 

  <input type="submit" value=" Submit Change ">
</form>