<h2>Medications</h2>

<h2><a href="/medications/new">List Medications</a></h2><br>

<ul>
    <% @medications.each do |m| %>
        <li>Pill name<%= m.name %></li>
        <li><%= m.description %></li>
        <li><%= m.disease_states_name %></li><br>
    <% end %><br>


</ul>