<form action="/medications" method="post">
    <h2> Medication </h2>
        <input type="text" name="name">
    <h2> Description</h2>
        <input type="text" name="description">
    <h2> Disease State</h2>
        <input type="text" name="disease_states_name">
     <h2> Brand </h2>
        <input type="text" name="brand">
     <h2> Dosage </h2>
        <input type="text" name="dose">
     <h2> Quantity </h2>
        <input type="text" name="quantity">

        <input type="hidden" name="user_id" value=<%=session[:user_id]%>>

        <input type="submit" value="add">
        
    <h2><a href="/medications/edit">Remove Medications</a>
        <input type="submit" value="delete"></h2><br>
</form>