<form action="/medications" method="post">
    <h2><%= "Medication" %></h2>
        <input type="text" name="medications">
            <h2><%= "Description" %></h2>
                <input type="text" name="description">
                <input type="submit" value="add">
</form>